.row{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}

#card{
    margin-top: 15px;
}

#card1{
    padding-bottom: 82px;
}

body{
    background-color: cadetblue;
}

#home{
    padding-left: 1000px;
}

#nav{
    opacity: 0.7; 
}

/* #icons{
    margin-left: 80px ;
    margin-top: 40px;
} */
